$primary-color: #14150F;
$secondary-color: #1D1C17;
$third-color: #794F1D;
$fourth-color: #360A09;
$fifth-color: #082314;
$sixth-color: #D1B488;
$seventh-color: #5D271B;
$height-color: #39442C;
$base-spacing: 16px;
$large-spacing: $base-spacing * 2;
$small-spacing: $base-spacing / 2;
$font-stack: 'Helvetica, Arial, sans-serif';
